 @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

 body, html {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.logo img {
    max-width:200px;
 }
 .logo {
    flex:1 1 auto;
 }
 header nav {
      flex:1 4 auto;
      text-align: right;
      margin-right: 50px;
 }

 .flex-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.listing_page .flex-item {
        padding: 15px;
}
.listing_page .flex-container {
    flex-wrap:nowrap;

}

.listing_page img {
    max-width: 400px; 
}

 .home_page .flex-item img{
    max-width: 150px;
    padding: 5px;
 }
 .listing_page a {
    padding: 10px;
    background: #669b23;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 22px;
 }
 .listing_page .drop-shadow{
        -webkit-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    margin-bottom: 17px;
    margin-top: 16px;
    position: relative;
 }

 .fullscreen-bg {
   max-height:500px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    -webkit-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
}
.dropshadow {
    -webkit-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
}
.recipe_page .flex-item {
    padding: 20px;

}

.fullscreen-bg__video {
    margin-top:-200px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.body_wrap.home_page {

}


nav a, footer a {
    text-decoration: none;
    color: #669b23;
    font-weight: bold;
    font-size: 18px;
}
header {
    /*background:url(imgs/header.png) no-repeat;
    background-size:cover; */
    padding:10px 39px;
    max-height: 200px;
    margin-top: 20px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    position:relative;

}
.icons {
    padding: 50px 0px;
    justify-content: center;
}
.icons .flex-item {
    padding: 0px 50px;
}
.icons .flex-item a {
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color:black;
}
.our-mission {
    padding: 10px;
}

header nav div {
    padding: 0px 5px;
    display: inline-block;
}

footer {
    /*background:url(imgs/header.png) no-repeat;
    background-size:cover; */
    padding:10px 39px;
    max-height: 200px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 46px -5px rgba(0,0,0,0.75);
    min-height: 100px;

}

footer a {
    padding: 5px 10px;

}
footer span {
    color: #dd3328;
}
.search-link .arrow{
    max-width: 12px
}

.clearfix {
    overflow: auto;
} 
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
textarea, input {
    border-radius: 15px;
    padding: 9px;
    font-size: 20px;

}
#slides {
    position: relative;
    height: auto;
    width:100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    list-style-type: none;
    min-height: 300px;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.slide img {
    width:100%;
}

.showing {
    opacity: 1;
    z-index: 2;
} 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 9999;
    right:0;
    border-radius: 5px;
    top: 30px
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* BEGIN SIDE NAV FOR MOBILE */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

.openLink {
    display:none;       
}
.breakfast {
    background: #FCAE26;

}
.lunch {
    background: #87BE3E;
}
.dinner {
    background: #47B1B1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/* END SIDE NAV FOR MOBILE */
@media screen and (max-width: 1300px) {
     video {
        object-fit:none;
    }
}
@media screen and (max-width: 950px) {
     video {
        margin-top: -99px
    }
}


/* media query for anything less than desktop  */
@media screen and (max-width: 1024px) {
    .openlink {
        display:inline-block;
        float: left;
        position: absolute;
    }

    .openLink  img{
        max-width: 50px;
    }

}
@media screen and (min-width: 581px){
    .icons .flex-item {
        width:33%;
    }
    .icons {
        flex-wrap: nowrap;
        padding: 0px ;
    }
}

/* media query for mobile device and vertical tablet */
@media screen and (min-width: 0px ) and (max-width: 580px) {
     header a {
        text-align:center;
    }
    header {
        display:block;

    }
    .logo, .logo img {
        margin: 0px auto;
        max-width: 250px;
    }
    .icons .flex-item {
        width: 100%;
        display: block;
        padding: 10px 0;
    }
    .icons .flex-item a {
        color:white;
    }
    .fullscreen-bg {
        display:none;
    }
    .icons {
        padding:0px;
    }
    .listing_page .flex-container {
        flex-wrap: wrap;
    }
    .listing_page .flex-item img, .recipe_page .flex-item img {
        max-width:100%;
    }
    .listing_page .flex-item {
        padding: 15px 15px 0px 15px;
    }
    header nav {
        text-align: center;
        margin-right:0px;
    }
    .no-mobile {
        display: none;
    }
    .dropdown-content input {
        display: block;
        margin:0px auto;
        padding: 4px 0px;
        position:relative;

    }
    .dropdown-content {
        display: block;
        position: relative;
        padding: 3px 5px;
        border-radius: 28px;
        top:0px;
    }
}
@media screen and (max-width:920px) {
    .listing_page .flex-container {
        flex-wrap:wrap;
    }
    .listing_page a {
        position: relative;
        bottom:0px;
        display: inline-block;
        margin-bottom: 10px;
    }
}

